.bottom__box {
  margin-left: auto;
}

.form-bottom__text {
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: $fon-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .form-bottom__text {
    text-align: center;
  }
}

.form-bottom__card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

input::placeholder.form-bottom__input {
  color: rgba(255, 255, 255, 0.6);
}

.form-bottom__input {
  width: 458px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: border 250ms $time-animacion;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: $fon-hero-color;
  color: rgba(255, 255, 255, 0.6);
  &:focus,
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.form-bottom__submit {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $logo-color;
  color: $fon-color;
  transition: box-shadow 250ms $time-animacion;
  border: none;
  border-radius: 4px;
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 767px) {
  .form-bottom__submit {
    margin-top: 20px;
    margin-left: 0;
  }
}

.form-bottom__icon {
  top: 13px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $fon-color;
}
